/* Variáveis das cores que serão usadas */
:root {
    --white: rgb(255, 255, 255);

    --gray_modal_footer: rgb(217, 217, 217);
    --gray_header: rgba(234, 234, 234, 0.2);
    --gray_text_1: rgb(61, 61, 61);
    --gray_text_2: rgb(102, 102, 102);
    --gray_text_3: rgb(30, 30, 30);
    --gray_input: rgb(236, 236, 236);
    --gray_input_border: rgb(186, 186, 186);
    --gray_placeholder: rgb(182, 182, 182);
    --gray_modal_background: rgb(209, 209, 209);
    --gray_box_shadow: rgba(0, 0, 0, 0.25);
    --gray_header_background: rgb(234, 234, 234);
    --gray_background: rgb(230, 230, 230);
    --gray_modal_overlay: rgba(30, 30, 30, 0.5);

    --blue_background: rgb(46, 121, 197);
    --blue_text: rgb(41, 112, 184);
    --dark_blue: rgb(32, 85, 137);

    --purple_background: rgb(129, 100, 231);
    --purple_text: rgb(90, 67, 172);
    --medium_purple: rgb(93, 109, 216);

    --red: rgb(180, 5, 5);

    --green: rgb(81, 126, 73);
}

/* Configurações padrão de todo o site */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: var(--white);
}

/* Padrão do body */
body {
    height: 100%;
}

/* Padrão de ícones */
.icon {
    height: 1rem;
}

/* Padrão dos paths dos ícones */
.icon path {
    fill: var(--white);
}

/* Padrão título h1 */
.title_h1,
h1 {
    font-weight: 700;
    font-size: 1.2rem;
}

/* Padrão de links */
a {
    text-decoration: none;
}

/* Bold para textos */
.bold {
    font-weight: 700;
}

/* Medium para textos */
.medium {
    font-weight: 500;
}

/* Padrão de um botão */
.buttonPattern {
    padding: 0.8rem;
    border-radius: 0.5rem;
}

/* Padrão de todos os SVGs */
svg {
    height: 1.3rem;
}

/* Padrão do path de todos os SVGs */
svg path {
    fill: var(--white);
}

/* Padrão de um botão */
button {
    cursor: pointer;
}

/* Padrão do main */
main {
    width: 100%;
    padding: 0 3rem;
}

/* ------------------ Header ------------------ */

/* Padrão do header */
header {
    height: 5rem;
    width: 100%;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px var(--gray_box_shadow);
}

/* Header com opacidade para quando o background do body for um gradiente  */
.backgroundOpacityHeader {
    background-color: var(--gray_header);
}

/* Fundo degradê azul + roxo */
.gradientBackground {
    height: 100%;
    width: 100%;
    background: linear-gradient(145deg, var(--blue_background) 0%, var(--purple_background) 100%);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

/* Link para a landing page no header */
.landingPageLink,
.summaryLandingPageLink {
    display: inline-flex;
    gap: 0.5rem;
    align-items: flex-start;
    text-decoration: none;
}

/* SVG do home ícon */
.landingPageLink svg {
    height: 1.2rem;
}

/* Cor do home ícon */
.landingPageLink svg path {
    fill: var(--white);
}

/* Padrão do NAV do header */
header nav {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

/* Links dentro do NAV do header */
header a {
    font-weight: 700;
    transition: all 0.5s;
}

/* Hover dos links dentro do header */
header a:hover {
    background-color: var(--gray_header);
}

/* buttonPattern dentro de nav do header */
header nav #createAccountLink {
    border: 1px solid var(--white);
}

/* Menu hamburguer */
header button {
    border: none;
    background-color: transparent;
    display: none;
}

/* Titulo/link landing page resumido */
header .summaryLandingPageLink {
    display: none;
}

/* ------------------ Footer ------------------ */

/* Configuração do footer */
footer {
    background-color: var(--gray_modal_footer);
    box-shadow: 0px -2px 5px var(--gray_box_shadow);
    padding: 4rem;
}


/* Seções dentro de footer */
.footerSection {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

/* Textos do footer */
.footerSection h3,
.footerSection ul li a,
footer form p,
footer form label {
    color: var(--blue_text);
}

/* Tirar bolinhas do li */
.footerSection ul li {
    list-style-type: none;
}

/* Copyright do footer */
footer>p {
    color: var(--gray_text_2);
    font-size: 15px;
    text-align: center;
}

/* Div filho direto de footer (agrupamento de nav + form) e footer nav */
footer>div,
footer nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4rem;
}

/* Navegação de footer */
footer nav {
    gap: 3rem;
}

/* Agrupamento de nav + form */
footer>div {
    margin-bottom: 4rem;
    align-items: center;
}

/* Form dentro de footer */
footer form {
    text-align: center;
    max-width: 19rem;
    width: 100%;
}

/* Input dentro de form em footer */
.inputContactEmail {
    position: relative;
    margin-top: 1rem;
}

/* Input envio de e-mail dentro de footer */
.inputContactEmail input {
    padding: 0.6rem;
    border: 2px solid var(--blue_text);
    width: 100%;
    border-radius: 0.5rem;
}

/* Cor do texto dentro do input em footer */
.inputContactEmail input[type="email"] {
    color: black;
}

/* Cor do placeholder dentro do input em footer */
.inputContactEmail input[type="email"]::placeholder {
    color: var(--blue_text);
}

/* Botão de envio do formulário form dentro de footer */
.inputContactEmail input[type="submit"],
.inputContactEmail button {
    background-color: var(--blue_text);
    font-size: 1rem;
    width: 5rem;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
}

/* Hover de botão de envio do formulário form dentro de footer */
.inputContactEmail input[type="submit"]:hover,
.inputContactEmail button:hover {
    background-color: var(--dark_blue);
    cursor: pointer;
}

/* Botão com ícone de enviar */
.inputContactEmail button {
    height: 100%;
    border-radius: 0.5rem;
    width: 2.5rem;
    display: none;
}


/* ------------------ Landing page (index.html) ------------------ */

/* Item centralizado Centralizado */
.centralizedItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Item com flex direction: column = organizado em colunas */
.columnItem {
    flex-direction: column;
}

/* Main do Index */
.indexMain {
    height: 80vh;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

/* H1 do main Index */
.indexMain h1 {
    font-size: 1.8rem;
}

/* P do main Index */
.indexMain p {
    font-size: 1.2rem;
    max-width: 45rem;
}

/* Link redirecionamento para Criar conta */
.indexMain .buttonPattern {
    font-weight: 700;
    color: var(--medium_purple);
    background-color: var(--white);
    transition: 0.5s;
}

/* Hover do link redirecionamento para Criar conta */
.indexMain .buttonPattern:hover {
    background-color: var(--gray_modal_background);
}

@media screen and (max-width: 1300px) {

    /* Agrupamento de nav + form */
    footer>div {
        flex-direction: column;
        align-items: center;
    }

    /* Div filho direto de footer (agrupamento de nav + form) e footer nav */
    footer nav {
        justify-content: center;
        gap: 4rem;
    }
}

@media screen and (max-width: 1000px) {

    /* Navegação do header */
    header nav {
        display: none;
    }

    /* Menu hamburguer */
    header button {
        display: block;
    }
}

@media screen and (max-width: 700px) {

    /* footer nav */
    footer nav {
        flex-direction: column;
    }

    /* Botão com ícone de enviar */
    .inputContactEmail button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Botão de envio do formulário form dentro de footer */
    .inputContactEmail input[type="submit"] {
        display: none;
    }
}

@media screen and (max-width: 500px) {

    /* Link para a landing page no header */
    .landingPageLink {
        display: none;
    }

    /* Titulo/link landing page resumido */
    header .summaryLandingPageLink {
        display: inline-flex;
    }
}

@media screen and (max-width: 250px) {

    /* Padrão do header, main */
    header,
    main {
        padding: 0 1rem;
    }

}